@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


#site {
    overflow-x: hidden;
    overflow-y: hidden;
}

html {
    height: 100%;
}

html, button, select, textarea, input {
    font-family: 'Roboto';
    font-size: 16px;
    background-color: #8ecae6;
}

.page-title{
    padding-left: 40px;
    color:#023047;
}

a,
a:visited {
    text-decoration: none;
    color: #023047;
}

header nav ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    justify-items: center;
    padding: 20px;
    background-color: #ffb703;

}

body {
    background-color: #8ecae6;
}

.movie-listview {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 17px;
}

.movie-card {
    background-color: #219ebc;
    padding: 20px;
    /* align-items: center; */
    text-align: center;
    border-radius: 15px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0 2px 4px 0 rgb(0, 0, 0, 0.2);
}

.movie-card:hover {
    background-color: #26a2c1;
    box-shadow: 4px 4px 4px 0 rgb(0, 0, 0, 0.2);
    /* font-size: 1.03em; */
}

.movie-title{
    padding: 30px;
    font-size: 1.5em;
    font-weight: bolder;
    text-transform: uppercase;
    padding: 5px;
}

img {
    max-width: 200px;
    border-radius: 5px;
    box-shadow: 2px 2px 4px 0 rgb(0, 0, 0, 0.2);
}

.new-review-form {
    display: grid;
    grid-template-columns: 8em 1fr;
    column-gap: 20px;
    text-align: center;
    margin: 4em auto;
    min-width: 300px;
    max-width: 800px;
}

input, textarea {
    border: 1px solid #023047;
    border-radius: 4px;
    padding: 1em 1.5em;
    background-color: #e6e6e6;
}

button {
    background-color: #023047;
    border: 2px solid transparent;
    border-radius: 4px;
    color: rgb(193, 193, 193);
    padding: 1em 1.5em;
    text-transform: uppercase;
}

button:hover {
    background-color: #8ecae6;
    border-color: #124399;
    color: #4a505b;
}

button:active {
    background-color: rgb(83, 119, 138);
}

.watchlist-grid{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 100px;
    padding: 30px;
    border-top: 2px solid #023047
}

.watchlist-poster{
    grid-row-start: 1;
    grid-row-end: 2;
    /* background-color: #219ebc; */
}

.watchlist-title{
    font-size: 220%;
    text-align: center;
    padding-top: 30px;
    grid-column-start: 2;
    grid-column-end: 4;
    /* background-color: #219ebc; */
}
.mark-as-watched-button {
    padding: 10px;
    grid-row: 2/2;
    grid-column: 2/3;
    /* background-color: #219ebc; */
}

.mark-as-watched-text {
    padding: 25px;
    font-size: 200%;
    text-align: center;
    grid-row: 2/2;
    grid-column: 2/3;
    color: #d17001;
    text-shadow: 1px 1px 2px #916800;
    /* background-color: #219ebc; */
}

.remove-from-watchlist-button {
    padding: 10px;
    grid-row: 2/2;
    grid-column: 3/3;
    /* background-color: #219ebc; */
}
