{% extends "paginate.html" %}

{% block content %}
    <main>
        <h1 class="page-title"> Your Watchlist </h1>
        {% for movie in watchlistitem_list %}
            <div class="watchlist-grid">
                <div>
                    <img class= "watchlist-poster" src="{{ movie.movie.poster }}">
                </div>
                {% if movie.watch_status is False %}
                    <div class="watchlist-title">
                        <a href="{% url 'movie_review_details' movie.movie.id %}"> {{ movie.movie.title }} </a>
                    </div>
                    <div class="mark-as-watched-button">
                        <form method="POST" action="{% url "watchlist_item_watched_urlpath" %}">
                            {% csrf_token %}
                            <input type="hidden" name="watchlist_item_watched" value="{{movie.id}}">
                            <button>Mark as watched</button>
                        </form>
                    </div>
                    <div class="remove-from-watchlist-button">
                        <form method="POST" action="{% url "delete_watchlist_item" %}">
                            {% csrf_token %}
                            <input type="hidden" name="watchlist_item_id" value="{{movie.id}}">
                            <button>Remove from watchlist</button>
                        </form>
                    </div>
                {% else %}
                    <div class="watchlist-title">
                        <a href="{% url 'movie_review_details' movie.movie.id %}"> {{ movie.movie.title }}</a>
                    </div>
                    <div class="mark-as-watched-text">
                        Watched
                    </div>
                    <div class="remove-from-watchlist-button">
                        <form method="POST" action="{% url "delete_watchlist_item" %}">
                            {% csrf_token %}
                            <input type="hidden" name="watchlist_item_id" value="{{movie.id}}">
                            <button>Remove from watchlist</button>
                        </form>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </main>
{% endblock content %}