{% load static %}
{% load markdownify %}


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/app.css' %}" type="text/css">
            
        <title>Jinspins Reviews</title>
    </head>

    <body>
        <header>
            <nav>
                <ul>
                    <li>
                        {% if user.is_authenticated %}
                            <a href="{% url 'logout' %}">Logout</a>
                        {% else %}
                            <a href="{% url 'login' %}">Login</a>
                        {% endif %}
                    </li>
                    {% if user.is_staff %}
                        <li>
                            <a href="{% url 'admin:index' %}">Admin</a>
                        </li>
                    {% endif %}
                    <li>
                        <a href="{% url 'movies_list' %}">Movie Reviews</a>
                    </li>
                    {% if user.is_authenticated %}
                        {% comment %} <li>
                            <a href="{% url 'new_movie_review' %}">Create Movie Review</a>
                        </li> {% endcomment %}
                        <li>
                            <a href="{% url 'new_movie_review2' %}">Create Movie Review</a>
                        </li>
                        <li>
                            <a href="{% url 'watchlist' %}">Watchlist ({{ user.watchlist_item.all |length }})</a>
                        </li>
                        <li>
                            {% block search_box %}
                            {% endblock search_box %}
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        {% block content %}
        {% endblock content %}
    </body>

    <footer>
        {% block pagination %}
        {% endblock pagination %}
    </footer>
</html>