{% extends "paginate.html" %}

{% block search_box %}
    <form method="GET">
        <input type="text" name="q" style="display: inline;">
        <button type="submit">Search</button>
    </form>
{% endblock search_box%}