{% extends "base.html" %}

{% block content %}
    <main>
        <h2>Are you sure you want to delete this review?</h2>
        <form method="POST">
            {% csrf_token %}
            <input type="submit" value="Yes" />
            <a href="{% url 'movie_review_details' pk=movie.pk %}">Cancel </a>
        </form>
    </main>
{% endblock content %}