{% extends "base.html" %}

{% block content %}
    <main>
        <div>
            <a href="{% url 'edit_movie_review' movie.pk %}">Edit</a>
            <a href="{% url 'delete_movie_review' movie.pk %}">Delete</a>
        </div>
        <h1> {{ movie.title }} ({{ movie.release_year}}) reviewed by {{ movie.reviewer }}</h1>
        <img src="{{ movie.poster }}">
        <p>Directed by {{ movie.director }}</p>
        <div>
            {% if movie == watchlist_item_id.movie %}
                <p>This movie is on your watchlist</p>
                <form method="POST" action="{% url "delete_watchlist_item" %}">
                    {% csrf_token %}
                    <input type="hidden" name="watchlist_item_id" value="{{watchlist_item_id.id}}">
                    <button>Remove from Watchlist</button>
                </form>
            {% else %}
                <form method="POST" action="{% url "new_watchlist_item" %}">
                    {% csrf_token %}
                    <input type="hidden" name="movie_id" value="{{movie.id}}">
                    <button>+ Watchlist</button>
                </form>
            {% endif %}
        </div>
        <div>
            <p>Rating: {{ movie.rating }} of 10</p>
            <p>{{movie.review}}</p>
        </div>
    </main>
{% endblock content %}