{% extends "base.html" %}

{% block content %}
    <main>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Update Review</button>
        </form>
    </main>
{% endblock content %}