{% extends "search.html" %}


{% block content %}
    <main>
        <div class="page-title">
            <h1> Movie Reviews </h1>
        </div>
        <div class="movie-listview">
            {% for movie in moviereview_list %}
                <a href="{% url 'movie_review_details' movie.pk %}">
                <div class="movie-card">
                    <p class="movie-title">{{movie.title}}</p>
                    {% if movie.poster %}
                        <div style="movie-poster">
                            <img src="{{ movie.poster }}">
                        </div>
                    <p>Reviewed on: {{ movie.reviewed_on }}</p>
                    <p>{{ movie.overview }}</p>
                {% endif %}
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock content %}