{% extends "base.html" %}

{% block content %}
    <main>
        <div class="new-review-form">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Create Review</button>
            </form>
        </div>
    </main>
{% endblock content %}